@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    border: 2px solid black;
}
input[type="color"]::-moz-color-swatch {
    border-radius: 5px;
    border: 2px solid black;
}
body{
    /* background-color: #FAFAFA; */
    color: #131313;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    min-height: 96vh;


}

nav{
background: rgba(255, 255, 255, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 1);
}